# Use official Git version of basicsr
basicsr @ git+https://github.com/XPixelGroup/BasicSR@master
gfpgan
facexlib
opencv-python
numpy
Pillow
torch
torchvision
tqdm
fastapi
uvicorn
realesrgan
streamlit
